# Segger Studio specific files

*.emSession
*.jlink

# Python compiled files
*.pyc

# Git conflict files
*.orig

# Visual Studio specific files
.vscode/

# Segger Studio output directory
Output/

# Python package dist
dist/

# Virtual env folder
.venv/

# Tox
.tox/

# Allow cmse-implib archive
!sample/cmse_implib.a
